<div class="test container d-flex flex-column justify-content-center align-items-center">
  <div class="internal-container">
  <h1>Ask a question</h1>
  <form class="d-flex flex-column" action="/answer" data-turbo="false">
    <input type="text" name="question" placeholder="Type here..." class="form-control mb-3">
    <input type="submit" value="Ask!" class="btn btn-dark">
  </form>
  </div>
</div>
